
body {
    background-color: #434A64;
    color: #BCC3CD;
}
.navbar {
    background-color: #4E5C89;
}
.navbar .nav-link {
    color: #BCC3CD;
}
.navbar .nav-link:hover {
    color: #B54752;
}
.content {
    margin-top: 20px;
}
.card {
    background-color: #4E5C89;
    border: none;
    border-radius: 10px;
    color: #BCC3CD;
}
