* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('../img/local_cip.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(2px);
}

.main-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
}


.title-section {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px 0 0 10px;
}

.title-section img {
    max-width: 200px;
    margin-bottom: 20px;
}

.title-section h1 {
    font-size: 2em;
    color: #921215;
    text-align: center;
}

.form-section {
    flex: 1;
    padding: 30px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #921215;
    outline: none;
    box-shadow: 0 0 5px rgba(146, 18, 21, 0.2);
}

button {
    width: 100%;
    padding: 14px;
    background-color: #e31e25;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #921215;
}

.link {
    margin-top: 1.5rem;
    text-align: center;
}

.link a {
    color: #d7b56d;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #de8b2e;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        width: 95%;
    }

    .title-section {
        border-radius: 10px 10px 0 0;
        padding: 20px;
    }

    .form-section {
        padding: 20px;
    }
}