body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    background-color: #4E5C89;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header a {
    color: #4caf50;
    text-decoration: none;
}

header .freelance {
    color: #f39c12;
}

.job-description {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job-description h2 {
    text-align: center;
    margin-bottom: 10px;
}

.job-description p {
    text-align: center;
    margin: 0;
}

button.apply-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button.apply-btn:hover {
    background-color: #45a049;
}
/* Section: Company Overview */
.company-overview {
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-overview h2 {
    text-align: center;
}

.overview-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overview-content img {
    width: 1000px;
    height: 200px;
    object-fit: contain;
}

.overview-content p {
    margin: 0;
}